.menu {
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    background: #72ADAD;
    list-style: none;
    justify-content: right;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.menu a:hover {
    background: white;
    color: #72ADAD;
}

ul {
    padding: 0px;
}